body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

header {
  background-color: #ff69b4;
  text-align: center;
  padding: 20px;
  color: white;
}

header img {
  width: 150px;
  height: 150px;
  margin: 10px;
  border-radius: 100%;
}

header h1 {
  font-size: 28px;
  margin: 10px;
}

header p {
  font-size: 18px;
  color: #eee;
}

h2 {
  background-color: #ff69b4;
  color: #ffffff;
  padding: 10px;
  border-radius: 5px;
}

#about,
#family,
#values {
  margin: 20px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
}

.btn {
  display: inline-block;
  background-color: #333;
  color: white;
  padding: 10px;
  margin: 10px;
  text-align: center;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: blue;
}

footer {
  background-color: #ff69b4;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 20px;
}

footer p {
  margin: 5px;
}
